@font-face {
    font-family: Montserrat-Medium;
    src: url('./Courgette/Montserrat-SemiBold.ttf');
}
body {
    font-family: Montserrat-Medium;
    background-color:rgb(224, 250, 195);
    user-select: none;


    #parent {
        margin-top: 5%;
        width: 420px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color:rgb(214, 207, 110);
        text-align: center;
        border-radius: 4px;
        padding: 2%;
        border: 2px solid rgb(0, 0, 0);
        box-shadow: 0px 0px 15px 8px rgba(34, 60, 80, 0.2);;

        h3{
            color: rgb(0, 0, 0);
            font-weight: bolder;
        }
        button{
            color: black;
            background-color:rgb(202, 184, 84);
            padding: 3px 7px 3px 7px;
            border-radius: 5px;
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            font-size: 18px;
            position: relative;
        }
        button[data-value="R"] {
            left: 120px;
            top: 45px;
        }
        button[data-value="L"] {
            right: 120px;
            top: 45px;
        }
        button:hover{
            background-color:rgb(192, 176, 83);
        }
        ul{
            padding: 0 0 0 11px;
            margin-left: auto;
            margin-right: auto;
            
            display: table;
            text-align: justify;
            li{
                background-color:rgb(209, 201, 88);
                width: 7%;
                display: block;
                border: 1px solid black;
                border-radius: 3px;
                padding: 4px 9px 4px 9px;
                font-size:larger;
                font-weight: 500;
                margin: 0.3px;
                color: rgb(0, 0, 0);
                float: left;
                text-align: center;
                margin: 4px;
                box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.2);
            }
            .days{
                background-color: rgb(202, 184, 84);
                border-radius: 3px;
                border: 1px solid black;
                box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
            }
            .opacity{
                opacity: 0;
            }
        }
    }
}